.loginPageMainWrapper {
  @apply w-full flex items-center justify-center;
  height: 60vh;

  .loginPageWrapper {
    @apply h-fit bg-backgroundSecond rounded-3xl p-3 shadow-md;
    min-width: 360px;
    width: 30vw;

    span {
      @apply block;
    }

    label {
      @apply ml-1.5;
    }

    .loginHeader {
      @apply w-full font-bold text-3xl text-center;
    }
  }
}
