.mainPageWrapper {
  @apply relative w-full;

  .blocksWrapper {
    @apply relative w-full h-fit bg-backgroundSecond rounded-3xl p-3;

    .blockHeader {
      @apply block absolute font-bold top-3 left-3;
    }

    .btn {
      @apply absolute top-3 right-3;
    }

    .imgWrapper {
      @apply relative h-full w-full transition-all duration-500;

      img {
        @apply absolute transition-all duration-500 animate-shoesUpriseAnimation;
      }
    }

    .bigBlockItem {
      @apply relative w-full bg-backgroundFirst rounded-2xl
        overflow-hidden cursor-pointer transition-all gridBackground
        hover:scale-[1.005] hover:shadow-md;
    }

    .smallBlockItem {
      @apply relative w-full bg-backgroundFirst rounded-2xl transition-all
        cursor-pointer gridBackground overflow-hidden hover:scale-[1.005]
        hover:shadow-md;
    }
  }
}

@media only screen and (max-width: 600px) {
  .blocksWrapper {
    @apply grid grid-cols-1 grid-flow-row gap-3;

    .blockHeader {
      @apply text-5xl;
    }

    .bigBlockItem {
      @apply h-[35vh];

      img {
        @apply w-[80%] -bottom-6;
      }

      @for $i from 1 through 3 {
        & img:nth-child(#{$i}) {
          left: 10% + ($i - 1) * 15%;
        }

        &:hover img:nth-child(#{$i}) {
          rotate: 15deg * $i;
          scale: (0.05 * $i) + 1;
          transform: translateY(-60px * ($i - 1));
        }
      }

      &:hover .imgWrapper {
        @apply rotate-12 scale-90;
      }
    }

    .smallBlockItem {
      @apply h-[35vh];

      img {
        @apply w-[80%] -bottom-4 -right-4;
      }

      &:hover .imgWrapper {
        @apply rotate-12 scale-90;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .blocksWrapper {
    @apply grid grid-cols-2 grid-flow-row gap-3;

    .blockHeader {
      @apply text-6xl;
    }

    .bigBlockItem {
      @apply h-[40vh] row-span-1 col-span-2;

      img {
        @apply w-[55%] -bottom-4;
      }

      @for $i from 1 through 3 {
        & img:nth-child(#{$i}) {
          left: 20% + ($i - 1) * 15%;
        }

        &:hover img:nth-child(#{$i}) {
          rotate: 15deg * $i;
          scale: (0.05 * $i) + 1;
          transform: translateY(-70px * ($i - 1));
        }
      }

      &:hover .imgWrapper {
        @apply rotate-12 scale-90;
      }
    }

    .smallBlockItem {
      @apply h-[40vh];

      img {
        @apply w-full -bottom-4 -right-10;
      }

      &:hover .imgWrapper {
        @apply rotate-12 scale-90;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .blocksWrapper {
    @apply grid grid-cols-2 grid-flow-row gap-3;

    .bigBlockItem {
      @apply h-full row-span-2 col-span-1;

      img {
        @apply w-[80%] -bottom-6;
      }

      @for $i from 1 through 3 {
        & img:nth-child(#{$i}) {
          left: 15% + ($i - 1) * 15%;
        }

        &:hover img:nth-child(#{$i}) {
          rotate: 15deg * $i;
          scale: (0.05 * $i) + 1;
          transform: translateY(-100px * ($i - 1));
        }
      }

      &:hover .imgWrapper {
        @apply rotate-12 scale-90;
      }
    }

    .smallBlockItem {
      @apply h-[40vh];

      img {
        @apply w-[70%] -bottom-6 -right-6;
      }

      &:hover .imgWrapper {
        @apply rotate-12 scale-90;
      }
    }
  }
}
