.cartItemWrapper {
  @apply h-9 w-16 bg-backgroundFirst rounded-full mx-3 flex items-center justify-between
    cursor-pointer transition-all px-1;

  &.active {
    box-shadow: 0 0 0 2px var(--backgroundSecond), 0 0 0 5px var(--greenColorConstant);
  }

  .cartCount {
    @apply ml-2.5;
  }

  .icon {
    @apply h-7 w-7 bg-greenColorConstant rounded-full flex items-center justify-center;

    .cartIcon {
      height: 18px;
      width: 18px;
      @apply fill-darkColorConstant;
    }
  }
}
