.mainLogo {
  @apply h-full py-2 flex items-center cursor-pointer transition-all overflow-hidden;
  &:hover {
    scale: 1.02;
  }

  .iconLogo {
    @apply relative h-full w-20 bg-backgroundOppositeSecond rounded-3xl;

    .starLogo {
      @apply absolute h-5 w-5 top-2.5 fill-backgroundSecond transition-all;
      left: 30px;
    }

    .ellipseLogo {
      @apply absolute -top-4 left-1 fill-backgroundSecond transition-all;
      height: 72px;
      width: 72px;
    }
  }

  &:hover .iconLogo .starLogo {
    @apply animate-logoStarAnimation;
  }

  &:hover .iconLogo .ellipseLogo {
    @apply animate-logoEllipseAnimation;
  }

  .textLogoDote {
    @apply w-fit pl-4 fill-textColorFirst;
    height: 17px;
  }
}
