.productSkeletonFirstWrapper {
  @apply px-1.5 pb-3 h-auto;

  .productSkeletonSecondWrapper {
    @apply relative p-3 h-fit w-full bg-backgroundSecond animate-pulse
      rounded-3xl flex flex-wrap shadow-md transition-all duration-300;

    .previewImg {
      @apply h-[calc(100vw/6)] w-full bg-backgroundFirst rounded-xl;
    }

    .textInfo {
      @apply w-full h-20 grid grid-cols-2 items-center;

      .textInfoHeader {
        @apply block w-[70%] h-7 mt-3 col-span-2 bg-backgroundFirst rounded-full;
      }

      .textInfoBrand {
        @apply row-start-2 h-3 w-[30%] bg-backgroundFirst rounded-full;
      }

      .textInfoGender {
        @apply row-start-3 h-3 w-[30%] bg-backgroundFirst rounded-full;
      }

      .textInfoPrice {
        @apply row-start-2 row-end-4 ml-auto h-7 w-[30%] bg-backgroundFirst
      rounded-full;
      }
    }

    .colorBtns {
      @apply w-full h-auto flex flex-wrap gap-2 justify-center mt-2 self-end;

      .colorBtn {
        @apply w-5 h-5 rounded-full bg-backgroundFirst;
      }
    }

    .sizeBtns {
      @apply min-w-full h-fit mt-3 flex flex-wrap justify-center gap-2 self-end;

      .sizeBtn {
        @apply w-10 h-7 block rounded-md bg-backgroundFirst;
      }
    }

    .rating {
      @apply absolute left-7 top-7 h-10 w-16 px-3 rounded-full
      select-none bg-backgroundSecond;
    }

    .likeBtn {
      @apply absolute h-10 w-10 bg-backgroundSecond right-7 top-7 rounded-full;
    }

    .cartBtn {
      @apply w-full h-10 mt-3 rounded-full pl-4 pr-1.5 bg-backgroundFirst;
    }
  }
}

@media screen and (max-width: 400px) {
  .productSkeletonFirstWrapper {
    @apply px-1.5 pb-3;
  }
}

@media screen and (min-width: 401px) {
  .productSkeletonFirstWrapper {
    @apply basis-1/2;
  }
}

@media screen and (min-width: 920px) {
  .productSkeletonFirstWrapper {
    @apply basis-1/3;
  }
}

@media screen and (min-width: 1170px) {
  .productSkeletonFirstWrapper {
    @apply basis-1/4;
  }
}
